In [1]:
#Pizzas
pizzas = ['hawaiin', 'supreme', 'mushroom']
for pizza in pizzas:
    print(f"I like {pizza} pizza.")
print(f"\nI really like pizza!")

I like hawaiin pizza.
I like supreme pizza.
I like mushroom pizza.

I really like pizza!

In [2]:
#Animals
animals = ['tigers', 'giraffes', 'chimps']
for animal in animals:
    print(f"I like to go to the zoo to visit the {animal}.")
print("\nGoing to the zoo is fun!")

I like to go to the zoo to visit the tigers.
I like to go to the zoo to visit the giraffes.
I like to go to the zoo to visit the chimps.

Going to the zoo is fun!

In [3]:
##Count to 20
for count in range(1, 21):
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [4]:
##One in a million, shortned by adding by 10,000
million = list(range(0, 1000001, 10000))
for numbers in million:
    print(numbers)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000

In [7]:
#Sum a million
million = list(range(1, 1000001))
print(f"Max = {max(million)}")
print(f"Min = {min(million)}")
print(f"Sum = {sum(million)}")

Max = 1000000
Min = 1
Sum = 500000500000

In [8]:
#Odd numbers 1 to 20
odd_numbers = list(range(1, 21, 2))
for numbers in odd_numbers:
    print(numbers)

1
3
5
7
9
11
13
15
17
19

In [9]:
#Multiples of 3
multiples_of_three = list(range(3, 31, 3))
for numbers in multiples_of_three:
    print(numbers)

3
6
9
12
15
18
21
24
27
30

In [10]:
#Cubes
cubes = []
for value in range(1, 11):
    cube = value**3
    cubes.append(cube)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
#Cubes comprehension
cubes = [value**3 for value in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]